*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri";
}

div.hide{
    // display: none;
    opacity: 0;
}

.main-picture{
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url("./../room-homepage-master/images/mobile-image-hero-1.jpg");
    background-repeat: round;
    overflow: auto;
    transition: background 500ms;
}

.header{
    position: relative;
    padding: 20px 0;

    &__title{
        text-align: center;
        color: white;
        letter-spacing: 1px;
        font-weight: 500;
    }

    &__navbarmobile{

        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        position: absolute;
        top: 0;
        background-color: white;
        transition: opacity 400ms;

        img{
            width: 18px;
            height: 18px;
        }

        ul{
            list-style: none;
            list-style-type: none;
            list-style-position: inside;
            
            li{
                display: inline-block;
                padding: 0 5px;
            }
        }
    }
}

#checkbox{
    display: none;
}

.checkbox-label{
    display: block;
    width: 18px;
    height: 14px;
    position: absolute;
    top: calc(50% - 7px);
    left: 20px;
    background-image: url("./../room-homepage-master/images/icon-hamburger.svg");
}

.text-box{
    width: 100%;
    padding: 50px 25px;
    background-color: rgb(253, 254, 250);

    &__title{
        margin-bottom: 20px;
        font-size: 28px;
        letter-spacing: 0.5px;
        line-height: 30px;

        &--uppercase{
            margin-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 13px;
        }
    }

    &__text{
        color: rgb(153, 151, 151);
        font-size: 12px;
    }
}

.shop-now{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 35px;
    transition: transform 400ms;

    &__text{
        letter-spacing: 8px;
    }

    &__arrow{
        margin-left: 20px;
    }
}
.shop-now:active{
    transform: translateX(20px);
}

.show-pic{
    width: 100%;
    height: 200px;
    background-image: url("./../room-homepage-master/images/image-about-dark.jpg");
    background-repeat: round;

    &--light{
        background-image: url("./../room-homepage-master/images/image-about-light.jpg");
    }
}

.btn-container{
    display: flex;
    width: 80px;
    height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.btn-container__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: black;
    transition: background 250ms;

   img{
       width: 10px;
       height: 13px;
   }
}

.btn-container__btn:active{
    background-color: rgb(49, 47, 47);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.nonclick{
    pointer-events: none;
}

@media screen and (min-width: 562px) {
    .grid{
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        place-content: center;
        grid-template-rows: 60vh 40vh;
        
    }

    .main-picture{
        grid-column: 1 / 8;
        height: auto;
    }

    .text-box--big{
        grid-column: 8 / 12;
        z-index: -99;
    }

    .show-pic--dark{
        grid-column: 1 / 4;
    }

    .text-box--small{
        grid-column: 4 / 9;
    }

    .show-pic--light{
        grid-column: 9 / 12;
    }

    .btn-container{
        // right: -40px;
        z-index: 99;
    }

    .text-box{
        padding:  40px 25px;
    
        &__title{
            margin-bottom: 15px;
            font-size:18px;
            letter-spacing: 0.5px;
            line-height: 22px;
    
            &--uppercase{
                letter-spacing: 5px;
                font-size: 10px;
            }
        }
    
        &__text{
            font-size: 11px;
        }
    }

    .show-pic{
        height: auto;
        }
}

@media screen and (min-width: 740px) {

    .text-box {

        &__title{
            font-size: 24px;
            line-height: 30px;

            &--uppercase{
                font-size: 15px;
            }
        }

        &__text{
            font-size: 12px;
        }
    }

    .btn-container{
        // right: -80px;
        z-index: 99;
    }

}