* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Hind Siliguri";
}

div.hide {
  opacity: 0;
}

.main-picture {
  width: 100%;
  height: 300px;
  position: relative;
  background-repeat: round;
  overflow: auto;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.header {
  position: relative;
  padding: 20px 0;
  text-align: center;
}

.header__title {
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
}

.header__navbarmobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 0;
  background-color: white;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.header__navbarmobile img {
  width: 18px;
  height: 18px;
}

.header__navbarmobile ul {
  list-style: none;
  list-style-type: none;
  list-style-position: inside;
}

.header__navbarmobile ul li {
  display: inline-block;
  padding: 0 5px;
}

.header--bar {
  display: none;
  color: #fdf7f7;
}

.header--bar ul {
  list-style: none;
  list-style-type: none;
  list-style-position: inside;
  display: inline;
  margin-left: 20px;
}

.header--bar ul li {
  display: inline-block;
  padding: 0 8px;
}

#checkbox {
  display: none;
}

.checkbox-label {
  display: block;
  width: 18px;
  height: 14px;
  position: absolute;
  top: calc(50% - 7px);
  left: 20px;
  background-image: url("./../room-homepage-master/images/icon-hamburger.svg");
}

.text-box {
  width: 100%;
  padding: 50px 25px;
  background-color: #fdfefa;
}

.text-box__title {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.text-box__title--uppercase {
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}

.text-box__text {
  color: #999797;
  font-size: 12px;
}

.shop-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 35px;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.shop-now__text {
  letter-spacing: 8px;
}

.shop-now__arrow {
  margin-left: 20px;
}

.shop-now:active {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.show-pic {
  width: 100%;
  height: 200px;
  background-image: url("./../room-homepage-master/images/image-about-dark.jpg");
  background-repeat: round;
}

.show-pic--light {
  background-image: url("./../room-homepage-master/images/image-about-light.jpg");
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.btn-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.btn-container__btn img {
  width: 10px;
  height: 13px;
}

.btn-container__btn:active {
  background-color: #312f2f;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.nonclick {
  pointer-events: none;
}

@media screen and (min-width: 562px) {
  .grid {
    min-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    place-content: center;
    -ms-grid-rows: 60vh 40vh;
        grid-template-rows: 60vh 40vh;
  }
  .header {
    text-align: left;
    padding: 20px;
  }
  .header__navbarmobile {
    display: none;
  }
  .header--bar {
    display: inline;
  }
  .main-picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
    height: auto;
  }
  .text-box--big {
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8 / 12;
    z-index: -99;
  }
  .show-pic--dark {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .text-box--small {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
  .show-pic--light {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .btn-container {
    z-index: 99;
  }
  .text-box {
    padding: 40px 25px;
  }
  .text-box__title {
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 22px;
  }
  .text-box__title--uppercase {
    letter-spacing: 5px;
    font-size: 10px;
  }
  .text-box__text {
    font-size: 11px;
  }
  .show-pic {
    height: auto;
  }
  .checkbox-label {
    display: none;
  }
}

@media screen and (min-width: 740px) {
  .text-box__title {
    font-size: 24px;
    line-height: 30px;
  }
  .text-box__title--uppercase {
    font-size: 15px;
  }
  .text-box__text {
    font-size: 12px;
  }
  .btn-container {
    z-index: 99;
  }
  .header--bar ul li {
    padding: 0 14px;
  }
}
/*# sourceMappingURL=style.css.map */